.container {
    background-color: #00628B;
    padding: 0 15px 10px 50px;
    max-width: 750px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h1 {
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
    margin: 15px 0;
    color: #E6E6DC;
}

.menu {
    position: absolute;
    right: 50px;
    top: 4px;
    font-size: 12px;
}

#header {
    position: relative;
    background-color: #00628B;
    margin-left: -20px;
    padding: 10px;
}

.selector {
    background-color: #fff;
    width: 120px;
    float: right;
    clear: right;
    overflow: hidden;
    margin-top: 4px;
}

.radio {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #000;
    float: left;
    margin: 5px 5px 5px 5px;
}

p {
    float: right;
    margin: 5px 5px 5px 0;
    color: #000;
}

.active {
    background-color: #ff0f00;
}


.streamer {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 30%;
}

.online {
    background-color: lightgreen;
}

.offline {
    background-color: lightblue;
}
